<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>spaday-perspective</title>
    <meta name="description" content="perspective for spaday" />
    <meta name="author" content="1kbgz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="importmap">
      {
        "imports": {
          "@perspective-dev/client": "./vendor/@perspective-dev/client/dist/cdn/perspective.js",
          "@perspective-dev/viewer": "./vendor/@perspective-dev/viewer/dist/cdn/perspective-viewer.js",
          "@perspective-dev/viewer-charts": "./vendor/@perspective-dev/viewer-charts/dist/cdn/perspective-viewer-charts.js",
          "@perspective-dev/viewer-datagrid": "./vendor/@perspective-dev/viewer-datagrid/dist/cdn/perspective-viewer-datagrid.js"
        }
      }
    </script>
    <script type="module" src="cdn/index.js"></script>
  </head>
  <body></body>
</html>
